
  .card{
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto,
}
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
